/* Reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 1rem;
  background: var(--clr-white); /* Umesto roze, neka bude neutralno */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global Container */
.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

/* Headings */
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: var(--clr-grey-5);
}
